In [6]:
import pandas as pd

df = pd.read_csv('result_example.csv')
df.head()

                    id  ...                                               text
0  1384773103163637766  ...                                  bye mau masak mie
1  1384773099401351173  ...  ini gimana sih ko hidup gini gini aja ngga ada...
2  1384773095525806080  ...               sedih la bila baju raya tk kena size
3  1384773082905124864  ...  Terus lawan bebudak, MP &amp; mana² pro PH yan...
4  1384773077259616258  ...  Apa buat susah,,,,.Lapar=makan.Ngantuk=tidur.M...

[5 rows x 7 columns]

In [7]:
df = df.filter(['id', 'text'])
df.head()

                    id                                               text
0  1384773103163637766                                  bye mau masak mie
1  1384773099401351173  ini gimana sih ko hidup gini gini aja ngga ada...
2  1384773095525806080               sedih la bila baju raya tk kena size
3  1384773082905124864  Terus lawan bebudak, MP &amp; mana² pro PH yan...
4  1384773077259616258  Apa buat susah,,,,.Lapar=makan.Ngantuk=tidur.M...

In [8]:
len(df)

1014

In [9]:
df = df.head(-14)
len(df)

1000

In [10]:
df

                      id                                               text
0    1384773103163637766                                  bye mau masak mie
1    1384773099401351173  ini gimana sih ko hidup gini gini aja ngga ada...
2    1384773095525806080               sedih la bila baju raya tk kena size
3    1384773082905124864  Terus lawan bebudak, MP &amp; mana² pro PH yan...
4    1384773077259616258  Apa buat susah,,,,.Lapar=makan.Ngantuk=tidur.M...
..                   ...                                                ...
995  1384765235278450689  Dipikir aku takut kali sama emak nya iya sih t...
996  1384765231860097027                              yaAllah takut bgt :((
997  1384765231629365255  /random thoughts/..Katanya kan manusia di kasi...
998  1384765220610994180  beneran gue close vlivenya takut ga fokus ah d...
999  1384765220363522058  Okay nisa sekarang say good bye. Jangan ngarep...

[1000 rows x 2 columns]

Three annotators, so each of them will get 300 tweets + 100 shared tweets. In total:

$$3\times 300 + 100 = 1000$$

In [14]:
split1, split2, split3, share = df[0:300], df[300:600], df[600:900], df[900:]

In [22]:
split1.to_csv('split1.csv', index=False)
split2.to_csv('split2.csv', index=False)
split3.to_csv('split3.csv', index=False)
share.to_csv('share.csv', index=False)